/* 진수 */


/* .allbtn {
	background-color: #07B0F2;
	border-radius: 30px;
	border: none;
	outline: none;
	font-size: 20px;
	color: white;
	float: right;
	margin-bottom: 10px;
}

#btn1 {
	float: right;
	margin-right: 7.5%;
	margin-bottom: 10px;
}

#commentbtn:hover, #commentbtn:active, #commentbtn:focus {
	background: #ff695f;
}

.allbtn:hover, .allbtn:active, .allbtn:focus {
	background: #ff695f;
}


#commentbtn {
	background-color: #07B0F2;
	border-radius: 10px;
	border: none;
	outline: none;
	font-size: 20px;
	color: white;
	margin-left: 20%;
}

.top{
	margin-top: 2.5%;
}


.btnlist {
	margin-top: 4%;
}
 */

.contents .btn_area,
.contents .sch_area {
    display: flex;
    margin: 3rem 0 0 5rem;
    padding: 0 1rem;
    width: 85%;
    justify-content: space-between;
    width: 85%;
}

.contents .sch_list .btn_area {
    justify-content: space-between;
}

.contents button {
    display: inline-block;
    background: #ffffff;
    font-size: 15px;
    font-weight: 800;
    color: #07B0F2;
    text-transform: capitalize;
    margin: 10px 0;
    padding: 12px 25px;
    border-radius: 23px;
    letter-spacing: 0.25px;
    border: 2px solid #07B0F2;
    outline: none;
    transition: all .3s;
    padding: 12px 25px;
    min-width: 120px;
}

.contents button:hover,
.list button:active,
.list button:focus {
    background: #07B0F2;
    color: #ffffff;
}

.contents .btn2 {
    color: #ffffff;
    border: 2px solid #07B0F2;
    background: #07B0F2;
}

.contents .btn2:hover,
.list .btn2:active,
.list .btn2:focus {
    color: pink;
    border: 2px solid pink;
    background: #ffffff;
}

.contents form {
    display: flex;
    flex-direction: column;
}


/* new */

hr {
    background-color: #07B0F2;
    border: none;
    height: 3px;
}

h1 {
    margin: 1rem;
    margin-left: 3rem;
    text-align: left;
    color: black;
}

h4 {
    margin-left: 70px;
    color: black;
}

p {
    line-height: 1.5;
    font-size: 18px;
    color: black;
    margin: 2rem auto 5rem auto;
}

div.container2 {
    max-width: 85%;
    border: 5px solid #07B0F2;
    border-radius: 40px;
    margin: 20px auto;
    padding: 20px;
    margin: 20px auto;
}


/*
header{
	padding: 15px;
	color: #666566;
}
*/

div.main-content {
    color: white;
    max-width: 90%;
    margin: 0 auto;
}


/* 댓글 */

@import url(//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css);
.detailBox {
    width: 90%;
    border: 1px solid #07B0F2;
    margin-left: 5%;
    margin-top: 5%;
    margin-bottom: 2%;
}

.titleBox {
    background-color: #fdfdfd;
    padding: 10px;
    padding-left: 20px;
}

.titleBox label {
    color: #07B0F2;
    margin: 0;
    display: inline-block;
}

.commentBox .form-group:first-child,
.actionBox .form-group:first-child {
    width: 100%;
}

.commentBox .form-group:nth-child(2),
.actionBox .form-group:nth-child(2) {
    width: 18%;
}

.actionBox .form-group * {
    width: 100%;
}

.taskDescription {
    margin-top: 10px 0;
}

.commentList {
    list-style: none;
    /* max-height: 200px; */
    overflow: inherit;
    margin-top: -0.5rem;
    margin-bottom: 2rem;
    padding: 0 1rem;
}

.commentList li {
    margin: 0;
    margin-top: 10px;
}

.commentList li>div {
    display: table-cell;
    overflow: hidden;
}

.commenterImage {
    width: 30px;
    margin-right: 5px;
    height: 100%;
    float: left;
}

.commenterImage img {
    width: 100%;
    border-radius: 50%;
}

.commentText p {
    margin: 0;
}

.commentText .fl-table td {
    margin-right: 1rem;
    display: initial;
}

.commentText .fl-table tr:nth-child(odd) {
    color: #07B0F2;
    font-weight: bold;
}

.sub-text {
    color: #aaa;
    font-family: verdana;
    font-size: 11px;
}

.actionBox {
    border-top: 1px dotted #07B0F2;
    padding: 10px;
}

#comment {
    background-color: white;
    border: 1px solid #07B0F2;
}