* {
	box-sizing: border-box;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
}

body {
	font-family: Helvetica;
	-webkit-font-smoothing: antialiased;
	background: white;
}

/*
h2{
    text-align: center;
    font-size: 18px;
    text-transform: uppercase;
    letter-spacing: 1px;
    color: white;
    padding: 30px 0;
}

*/
.pagingbtn{
	background-color: red;
}
/* Table Styles */
.table-wrapper {
	margin: 100px 70px 70px;
	box-shadow: 0px 35px 50px rgba(0, 0, 0, 0.2);
}

.fl-table {
	border-radius: 5px;
	font-size: 12px;
	font-weight: normal;
	border: none;
	border-collapse: collapse;
	width: 100%;
	max-width: 100%;
	white-space: nowrap;
	background-color: white;
}

.fl-table td, .fl-table th {
	text-align: left;
	padding: 8px;
}

.fl-table td {
	border-right: 1px solid #f8f8f8;
	font-size: 12px;
}

.fl-table thead th {
	color: #ffffff;
	background: #07B0F2;
}

.fl-table thead th:nth-child(odd) {
	color: #ffffff;
	background: #324960;
}

.fl-table tr:nth-child(even) {
	background: #F8F8F8;
}

/* Responsive */
@media ( max-width : 767px) {
	.fl-table {
		display: block;
		width: 100%;
	}
	.table-wrapper:before {
		content: "Scroll horizontally >";
		display: block;
		text-align: right;
		font-size: 11px;
		color: white;
		padding: 0 0 10px;
	}
	.fl-table thead, .fl-table tbody, .fl-table thead th {
		display: block;
	}
	.fl-table thead th:last-child {
		border-bottom: none;
	}
	.fl-table thead {
		float: left;
	}
	.fl-table tbody {
		width: auto;
		position: relative;
		overflow-x: auto;
	}
	.fl-table td, .fl-table th {
		padding: 20px .625em .625em .625em;
		height: 60px;
		vertical-align: middle;
		box-sizing: border-box;
		overflow-x: hidden;
		overflow-y: auto;
		width: 120px;
		font-size: 13px;
		text-overflow: ellipsis;
	}
	.fl-table thead th {
		text-align: left;
		border-bottom: 1px solid #f7f7f9;
	}
	.fl-table tbody tr {
		display: table-cell;
	}
	.fl-table tbody tr:nth-child(odd) {
		background: none;
	}
	.fl-table tr:nth-child(even) {
		background: transparent;
	}
	.fl-table tr td:nth-child(odd) {
		background: #F8F8F8;
		border-right: 1px solid #E6E4E4;
	}
	.fl-table tr td:nth-child(even) {
		border-right: 1px solid #E6E4E4;
	}
	.fl-table tbody td {
		display: block;
		text-align: center;
	}
}

#write {
 	float: right;
 	margin-right:70px;
	background-color: #07B0F2;
	font-size: 15px;
	font-weight: 400;
	color: #fff;
	text-transform: capitalize;
	padding: 12px 25px;
	border-radius: 23px;
	letter-spacing: 0.25px;
	border: none;
	outline: none;
	transition: all .3s;
}



#write:hover, #write:active, #write:focus {
	background: #ff695f;
}

.function {
	margin: 10px 70px;
}

.search {
	margin-left: 70px;
}

#searchmode {
	outline: 0;
	margin: 15px;
	padding: 10px;
	box-sizing: border-box;
	font-size: 1rem;
	line-height: 1.5;
	color: #495057;
	border: 1px solid rgba(0, 0, 0, 0.07);
	border-bottom: 3px solid pink;
	border-radius: .25rem;
	background-color: rgba(255, 255, 255, 0.5);
	transition: border-color .15s ease-in-out, box-shadow .15s ease-in-out;
}
#searchmode:focus {
	border: 1px solid pink;
	border-bottom: 3px solid pink;
}
/*
#searchbtn {
	background-color: #07B0F2;
	color: #fff;
	text-transform: capitalize;
	border-radius: 23px;
	letter-spacing: 0.25px;
	border: none;
	outline: none;
	transition: all .3s;
	height: 30px;
}

#searchvar:focus {
	outline:1px solid #07B0F2;
	
}
*/

#searchbtn {
	display: inline-block;
	background: #ffffff;
	font-size: 15px;
	font-weight: 800;
	color: #27CDF2;
	text-transform: capitalize;
	margin: 10px 0;
	padding: 12px 25px;
	border-radius: 23px;
	letter-spacing: 0.25px;
	border: 2px solid #27CDF2;
	outline: none;
	transition: all .3s;
	padding: 12px 25px;
	min-width: 120px;
}

#searchbtn:hover, #searchbtn:active, #searchbtn:focus {
	background: #27CDF2;
	color: #ffffff;
}


#searchvar{
	outline: 0;
	margin: 15px;
	padding: 10px;
	box-sizing: border-box;
	font-size: 1rem;
	line-height: 1.5;
	color: #495057;
	border: 1px solid rgba(0, 0, 0, 0.07);
	border-bottom: 3px solid pink;
	border-radius: .25rem;
	background-color: rgba(255, 255, 255, 0.5);
	transition: border-color .15s ease-in-out, box-shadow .15s ease-in-out;
}

#searchvar:focus {
	border: 1px solid pink;
	border-bottom: 3px solid pink;
}





h1 {
	color: white;
	background-color: #07B0F2;
	text-align: center;
}

#pager {
	
	margin-left: 40%;
	margin-bottom: 20px;
	
	
}