body{
    background-image: url("https://c.wallhere.com/photos/92/2f/windows_blackandwhite_bw_mountains_tower_contrast_dark_washington-926594.jpg!d");
    background-repeat: no-repeat;
    background-size: cover;
    overflow: hidden;
}

.mytvcontainer{

    position: relative;
    top: 20%;
    display: block;


}

* {
    border: 0;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
main {
    font-size: 10px;
    margin: auto;
    width: 50em;
    height: 100em;
}
img, canvas {
    display: block;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}
img {
    width: 50em;
    height: 40em;
}
body, .tv-body, .controls, .legs {
    display: flex;
}
.tv-body, .controls {
    justify-content: center;
}
.tv-body {
    background-color: #8c5b3d;
    background-image:
            radial-gradient(10em 0.4em at 8em 0.8em,#fff,#fff0),
            radial-gradient(10em 0.4em at 20em 0.8em,#fff,#fff0),
            radial-gradient(10em 0.4em at 36em 0.8em,#fff,#fff0),
            radial-gradient(14em 0.8em at 6em 2em,#fff 50%,#fff0),
            radial-gradient(55em 0.4em at 50% 2em,#fff3,#fff0),
            linear-gradient(#0000,#0004),
            radial-gradient(12em 0.4em at 32em 2em,#fff,#fff0),
            /* 여기가  tv 바디 */
            url(https://images.unsplash.com/photo-1599992836360-f88e279f8350?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=634&q=80);
    /*라운드*/
    border-radius: 0.75em 0.75em 0.75em 0.75em / 3em 3em 0.75em 0.75em;
    /*박스 아래 그림자*/
    box-shadow: 0 -1em 0.75em #383838 inset;
    flex-direction: column;
    align-items: center;
    height: 55em;
}
.screen-container, .controls {
    width: 48em;
}
.screen-container {
    background-color: #bcb;
    margin: 3em 0 0 0;
    overflow: hidden;
    position: relative;
    height: 60em;
}
.screen, .screen-inset, .screen-frame, canvas, img {
    position: absolute;
}
.screen, .screen-inset {
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}
.screen {
    background-image:
            radial-gradient(1em 1em at 22% 19%,#fff 25%,#fff0),
            radial-gradient(4em 1.5em at 35% 17%,#fff 35%,#fff0),
            radial-gradient(1em 1em at 82% 24%,#fff 25%,#fff0),
            radial-gradient(100% 175% at 50% 50%,#0000 32%,#000 60%),
            radial-gradient(175% 100% at 50% 53%,#0000 32%,#000 60%);
}
.screen-inset {
    /*tv 테두리 색 */
    box-shadow: 0 -0.1em 0.1em 0.6em #1a1d21 inset;
}
.screen-frame {
    border-top: 8em solid #3f3f3f;
    border-right: 8em solid #565756;
    border-bottom: 8em solid #575857;
    border-left: 8em solid #575857;
    border-radius: 16em;
    box-shadow: 0 0.1em 0.2em 0.2em #0007 inset;
    top: 50%;
    left: 50%;
    width: calc(100% + 9.5em);
    height: calc(100% + 10em);
    transform: translate(-50%,-50%);
}
.logo-badge, .logo-badge:before, .logo-badge:after {
    background: #463d3f;
}
.logo-badge, .dial-label {
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
.logo-badge {
    border-radius: 0.25em;
    box-shadow:
            0 0.2em 0.2em #fff4 inset,
            0 -0.2em 0.2em #0004 inset;
    color: #aa5;
    cursor: default;
    font: 1.5em Playball, cursive;
    line-height: 1.5;
    margin: 0.4em 0;
    position: relative;
    text-align: center;
    width: 2.4em;
    height: 1.5em;
}
.logo-badge:before, .logo-badge:after {
    content: "";
    display: block;
    position: absolute;
    top: 0.2em;
    width: 1.2em;
    height: 1em;
}
.logo-badge:before {
    border-radius: 50% 0 0 50%;
    box-shadow:
            0.1em 0.1em 0.2em #fff4 inset,
            0.1em -0.1em 0.2em #0004 inset;
    right: 95%;
}
.logo-badge:after {
    border-radius: 0 50% 50% 0;
    box-shadow:
            -0.1em 0.1em 0.2em #fff4 inset,
            -0.1em -0.1em 0.2em #0004 inset;
    left: 95%;
}
.logo-text {
    transform: scaleX(0.75);
}
.controls {
    background-color: currentColor;
    border-radius: 1.5em;
    box-shadow:
            0 0.3em 0.5em 0.5em #0007,
            0 0 0.5em 0.4em inset,
            0 -0.1em 0.3em 0.3em #fffc inset,
            0 0.1em 0.2em 1em inset,
            0 1.6em 0.4em 0 #fff4 inset,
            0 -1.3em 0.4em 0 #fff6 inset,
            0.2em 0.9em 0.25em 1.5em #0007 inset,
            0 -2.2em 0.1em #ffffff17 inset,
            0 -2.5em 0.2em #0002 inset;
    color: #131314;
    padding-top: 2.4em;
    height: 12em;
}
.panel, .vents {
    height: 8.5em;
}
.panel {
    width: 5.5em;
}
.screw, .dial {
    border-radius: 50%;
}
.screw {
    background-color: #fff1;
    background-image: linear-gradient(#0000 38%,#0005 38%,#0005 55%,#fff3 55%,#fff3 67%,#fff0 67%);
    box-shadow: 0 0 0 0.3em #0005;
    margin: 0 auto 1em auto;
    width: 2em;
    height: 2em;
    transform: rotate(45deg);
}
.dial {
    box-shadow:
            0 0 0.2em 0.5em #0003,
            -0.2em 0.3em 0.2em 0.5em #ffffff17 inset,
            0 0 0 0.6em inset;
    margin: auto;
    position: relative;
    width: 5em;
    height: 5em;
}
.dial-label {
    background-color: transparent;
    border-radius: 50%;
    color: #994;
    cursor: pointer;
    font: bold 0.7em sans-serif;
    line-height: 5;
    position: absolute;
    bottom: 0.2em;
    left: 0.4em;
    text-align: center;
    text-shadow: 0 0.2em 0 #000;
    text-transform: uppercase;
    transition: transform 200ms ease-in-out;
    width: 6em;
    height: 6em;
    -webkit-appearance: none;
    appearance: none;
}
.dial-label:disabled {
    cursor: not-allowed;
}
.dial-label:focus {
    outline: transparent;
}
.panel:last-child .screw {
    transform: rotate(25deg);
}
.panel:last-child .dial {
    box-shadow:
            0 0 0.2em 0.5em #0003,
            0.2em 0.3em 0.2em 0.5em #ffffff17 inset,
            0 0 0 0.6em inset;
}
.panel:last-child .dial-label {
    left: 0.8em;
}
.vents {
    width: 24em;
}
.vent {
    background-color: #fff7;
    border-radius: 0.75em;
    box-shadow:
            0 -0.7em 0.3em inset,
            0 -0.2em 0.2em #fff3,
            0 0.5em 0.3em #000c;
    margin-bottom: 0.4em;
    width: 100%;
    height: 1em;
}
.legs {
    background-color: #343033;
    box-shadow: 0 0.5em 0.4em #3a3737;
    justify-content: space-between;
    margin: auto;
    width: 49em;
    height: 1.5em;
}
.leg {
    background-color: #524e4f;
    box-shadow: 0 0.4em 0.3em #0007 inset;
    width: 7em;
    height: 100%;
}
.pristine {
    animation: glow 1.5s linear infinite;
    box-shadow: 0 0 1em #ff0;
}
.hide {
    display: none;
}

@keyframes glow {
    from, to {box-shadow: 0 0 1em 0 #ff0 }
    50% { box-shadow: 0 0 3em 0 #ff0 }
}
/*백그라운드 */
/* */
.ghostcontainer {
    width: 400px;
    height: 400px;
    padding: 0;
    box-sizing: border-box;
    position: absolute;
    float: top;
    left: 9%;
    transition: all 2s;
    opacity: 70%;
}

.ghostcontainer2 {
    width: 400px;
    height: 400px;
    padding: 0;
    box-sizing: border-box;
    position: absolute;
    float: top;
    top: 30%;
    left: 2%;
    transition: all 2s;
    opacity: 70%;
}

.ghostcontainer3 {
    width: 400px;
    height: 400px;
    padding: 0;
    box-sizing: border-box;
    position: absolute;
    float: top;
    top: 60%;
    left: 9%;
    transition: all 2s;
    opacity: 70%;
}

.ghostcontainer4 {
    width: 400px;
    height: 400px;
    padding: 0;
    box-sizing: border-box;
    position: absolute;
    float: top;
    right: 9%;
    transition: all 2s;
    opacity: 70%;
}

.ghostcontainer5 {
    width: 400px;
    height: 400px;
    padding: 0;
    box-sizing: border-box;
    position: absolute;
    float: top;
    top: 30%;
    right: 2%;
    transition: all 2s;
    opacity: 70%;
}

.ghostcontainer6 {
    width: 400px;
    height: 400px;
    padding: 0;
    box-sizing: border-box;
    position: absolute;
    float: top;
    top: 60%;
    right: 9%;
    transition: all 2s;
    opacity: 70%;
}

*::after,
*::before {
    box-sizing: inherit;
}

.spooky {
    margin: 10% auto;
    width: 80%;
    height: 80%;
    animation: floaty 2s infinite;
}

.body {
    position: relative;
    margin: 50px auto 0;
    width: 180px;
    height: 220px;
    background: white;
    border-top-left-radius: 90px;
    border-top-right-radius: 90px;
}

.body::before,
.body::after {
    content: '';
    position: absolute;
    top: 130px;
    display: inline-block;
    width: 36px;
    height: 36px;
    border-radius: 50%;
    background: white;
    animation: floaty .2s infinite;
}

.body::before {
    left: -18px;
}

.body::after {
    right: -18px;
}

.eyes {
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
    padding: 90px 0 0;
    width: 90px;
    height: 20px;
}

.eyes::before,
.eyes::after {
    content: ' ';
    display: block;
    width: 30px;
    height: 30px;
    background: #252c49;
    border-radius: 50%;
}

.mouth {
    background: #252c49;
    margin: 40px auto 0;
    width: 60px;
    height: 30px;
    border-bottom-left-radius: 30px;
    border-bottom-right-radius: 30px;
}

.mouth::before {
    content: ' ';
    display: block;
    background: #fff;
    margin-left: 20px;
    width: 10px;
    height: 10px;
}

.feet {
    position: absolute;
    display: flex;
    bottom: -18px;
    width: 180px;
    height: 36px;
}

.feet>*,
.feet::before,
.feet::after {
    content: ' ';
    width: 36px;
    height: 36px;
    background: white;
    border-radius: 50%;
}

.shadow {
    margin: -90px auto 0;
    background: #252c49;
    width: 180px;
    height: 40px;
    border-radius: 50%;
    animation: zoomy 2s infinite;
}

@keyframes floaty {
    0%,
    100% {
        transform: translateY(0);
    }
    50% {
        transform: translateY(-20px);
    }
}

@keyframes zoomy {
    0%,
    100% {
        transform: scale(1);
    }
    50% {
        transform: scale(0.8);
    }
}