:root {
    --brain: #f47f74;
    --brain-spot: #f25867;
    --holes: #3f4259;
    --skin: #4cbf8c;
    --skin-spot: #44aa88;
  }
  
  html {
    box-sizing: border-box;
  }
  
  *,
  *::before,
  *::after {
    box-sizing: inherit;
  }
  
  body {
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
      Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
    font-kerning: auto;
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialised;
    height: 100vh;
    margin: 0;
    text-rendering: optimizeLegibility;
  }
  
  .container {
    align-content: center;
    display: grid;
    height: 100%;
    justify-content: center;
  }
  
  .zh {
    background-color: var(--skin);
    background: radial-gradient(
      circle at top left,
      transparent 32%,
      var(--skin) 32%,
      var(--skin-spot) 95%
    );
    border-radius: 50%;
    height: 300px;
    position: relative;
    width: 300px;
  }
  
  .zh__brain {
    background-color: var(--brain);
    background: radial-gradient(
      circle at top left,
      var(--brain) 21%,
      var(--brain-spot) 33%
    );
    border-radius: 50%;
    height: 270px;
    left: 3px;
    position: absolute;
    top: 3px;
    width: 270px;
    z-index: -1;
  }
  
  .zh__eye {
    align-content: center;
    background-color: var(--holes);
    border-radius: 50%;
    display: grid;
    height: 55px;
    justify-content: center;
    overflow: hidden;
    position: absolute;
    top: 40%;
    width: 55px;
  }
  
  .zh__eye--left {
    left: 21%;
  }
  
  .zh__eye--right {
    right: 21%;
  }
  
  .zh__eye--left::before,
  .zh__eye--right::before {
    background-color: yellow;
    border-radius: 50%;
    content: "";
    display: block;
    height: 40px;
    width: 40px;
  }
  
  .zh__eye--right::before {
    opacity: 0;
  }
  
  .zh__nose {
    border-bottom: 42px solid var(--holes);
    border-left: 21px solid transparent;
    border-right: 21px solid transparent;
    left: 50%;
    position: absolute;
    top: 52%;
    transform: translateX(-50%);
    width: 15px;
  }
  
  .zh__mouth {
    background-color: var(--holes);
    border-radius: 25px;
    height: 35px;
    left: 50%;
    position: absolute;
    top: 75%;
    transform: translateX(-50%);
    width: 125px;
  }
  
  .zh__mouth::before,
  .zh__mouth::after {
    background-color: var(--brain-spot);
    content: "";
    display: block;
    position: absolute;
    top: 100%;
  }
  
  .zh__mouth::before {
    border-radius: 95px 95px 0 0;
    height: 25px;
    left: 20%;
    transform: translateY(-100%);
    width: 75px;
  }
  
  .zh__mouth::after {
    border-radius: 0 0 95px 95px;
    height: 20px;
    left: 60%;
    width: 15px;
  }
  
  .zh__hungry {
    background-color: yellow;
    border-radius: 25px;
    left: 50%;
    opacity: 0;
    position: absolute;
    text-align: center;
    top: 105%;
    transform: translateX(-50%);
    width: 290px;
  }
  
  .zh__hungry::before {
    border-bottom: 41px solid yellow;
    border-left: 21px solid transparent;
    border-right: 21px solid transparent;
    content: "";
    display: block;
    height: 20px;
    left: 60%;
    position: absolute;
    top: -40%;
    width: 20px;
  }
  
  .zh__hungry__brains {
    color: var(--holes);
    font-size: 25px;
    font-weight: bold;
    margin: 0.75rem;
  }
  
  .zh:hover .zh__eye--right::before {
    animation: tembling 0.75s 0.35s alternate infinite;
  }
  
  .zh:hover .zh__hungry {
    animation: slide 0.95s ease-in-out forwards;
  }
  
  @keyframes tembling {
    0% {
      opacity: 1;
    }
    5% {
      opacity: 0;
      transform: translateX(15px);
    }
    25% {
      opacity: 1;
      transform: translateX(-15px);
    }
    75% {
      opacity: 0;
      transform: translateY(-5px);
    }
    85% {
      opacity: 1;
      transform: translateY(15px);
    }
    100% {
      opacity: 0.75;
      transform: translateX(15px);
    }
  }
  
  @keyframes slide {
    0% {
      top: 95%;
    }
    100% {
      opacity: 1;
      top: 105%;
    }
  }
  