* {
	box-sizing: border-box;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
}

body {
	font-family: Helvetica;
	-webkit-font-smoothing: antialiased;
}

h1 {
	color: white;
	text-align: center;
	padding: 0.2rem;
	margin: 0 0 0 0;
}

.pagingbtn {
	background-color: red;
}

/* Table Styles */
.table-wrapper {
	/*! margin: 100px 70px 70px; */
	/*! box-shadow: 0px 35px 50px rgba(0, 0, 0, 0.2); */
	
}

.board_container .btn_area, .board_container .sch_area {
	display: flex;
	margin: 1rem;
	justify-content: flex-end;
}

.board_container .sch_list .btn_area {
	justify-content: space-between;
}

.board_container button {
	display: inline-block;
	background: #ffffff;
	font-size: 15px;
	font-weight: 800;
	color: #27CDF2;
	text-transform: capitalize;
	margin: 10px 0;
	padding: 12px 25px;
	border-radius: 23px;
	letter-spacing: 0.25px;
	border: 2px solid #27CDF2;
	outline: none;
	transition: all .3s;
	padding: 12px 25px;
	min-width: 120px;
}

.board_container button:hover, .list button:active, .list button:focus {
	background: #27CDF2;
	color: #ffffff;
}

.board_container .btn2 {
	color: #ffffff;
	border: 2px solid pink;
	background: pink;
}

.board_container .btn2:hover, .list .btn2:active, .list .btn2:focus {
	color: pink;
	border: 2px solid pink;
	background: #ffffff;
}

.board_container .sch_area {
	padding: 0 15px;
}

.board_container .sch_area select {
	outline: 0;
	padding: 10px;
	box-sizing: border-box;
	font-size: 1rem;
	line-height: 1.5;
	color: #495057;
	border: 1px solid rgba(0, 0, 0, 0.07);
	border-bottom: 3px solid #27CDF2;
	border-radius: .25rem;
	background-color: rgba(255, 255, 255, 0.5);
	transition: border-color .15s ease-in-out, box-shadow .15s ease-in-out;
}

.board_container .sch_area input {
	outline: 0;
	margin-right: 15px;
	padding: 10px;
	box-sizing: border-box;
	font-size: 1rem;
	line-height: 1.5;
	color: #495057;
	border: 1px solid rgba(0, 0, 0, 0.07);
	border-bottom: 3px solid #27CDF2;
	border-radius: .25rem;
	background-color: rgba(255, 255, 255, 0.5);
	transition: border-color .15s ease-in-out, box-shadow .15s ease-in-out;
}

.board_container .sch_area input:focus,
.board_container .sch_area select:focus
	{
	border: 1px solid #27CDF2;
	border-bottom: 3px solid #27CDF2;
}

.fl-table {
	border-radius: 5px;
	font-size: 12px;
	font-weight: normal;
	border: none;
	border-collapse: collapse;
	width: 100%;
	max-width: 100%;
	white-space: nowrap;
	background-color: white;
}

.fl-table td, .fl-table th {
	text-align: left;
	padding: 8px;
}

.fl-table td {
	border-right: 1px solid #f8f8f8;
	font-size: 12px;
}

.fl-table td a{
	color:#495057;
	font-weight:bold;
	transition: color .15s ease-in-out
}

.fl-table td a:hover{
	color:#27CDF2;
}

.fl-table thead th {
	color: #ffffff;
	background: #07B0F2;
	text-align: center;
}

.fl-table td {
	padding-left: 1rem;
	padding-right: 1rem;
	text-align: center;
}

.fl-table td:first-child {
	padding-left: 2rem;
	padding-right: 2rem;
	text-align: left;
}

.fl-table thead th:first-child {
	border-radius: 40px 0 0 40px;
	width: 70%;
}

.fl-table thead th:last-child {
	border-radius: 0 40px 40px 0;
	width: 100px;
}

.fl-table thead th:nth-child(odd) {
	color: #ffffff;
	background: #324960;
}

.fl-table tr:nth-child(even) {
	background: #F8F8F8;
}

/* Responsive */
@media ( max-width : 767px) {
	.fl-table {
		display: block;
		width: 100%;
	}
	.table-wrapper:before {
		content: "Scroll horizontally >";
		display: block;
		text-align: right;
		font-size: 11px;
		color: white;
		padding: 0 0 10px;
	}
	.fl-table thead, .fl-table tbody, .fl-table thead th {
		display: block;
	}
	.fl-table thead th:last-child {
		border-bottom: none;
	}
	.fl-table thead {
		float: left;
	}
	.fl-table tbody {
		width: auto;
		position: relative;
		overflow-x: auto;
	}
	.fl-table td, .fl-table th {
		padding: 20px .625em .625em .625em;
		height: 60px;
		vertical-align: middle;
		box-sizing: border-box;
		overflow-x: hidden;
		overflow-y: auto;
		width: 120px;
		font-size: 13px;
		text-overflow: ellipsis;
	}
	.fl-table thead th {
		text-align: left;
		border-bottom: 1px solid #f7f7f9;
	}
	.fl-table tbody tr {
		display: table-cell;
	}
	.fl-table tbody tr:nth-child(odd) {
		background: none;
	}
	.fl-table tr:nth-child(even) {
		background: transparent;
	}
	.fl-table tr td:nth-child(odd) {
		background: #F8F8F8;
		border-right: 1px solid #E6E4E4;
	}
	.fl-table tr td:nth-child(even) {
		border-right: 1px solid #E6E4E4;
	}
	.fl-table tbody td {
		display: block;
		text-align: center;
	}
}

.function {
	margin: 10px 70px;
}

.search {
	margin-left: 70px;
}

/* #searchmode {
	outline: 0;
	margin: 15px;
	padding: 10px;
	box-sizing: border-box;
	font-size: 1rem;
	line-height: 1.5;
	color: #495057;
	border: 1px solid rgba(0, 0, 0, 0.07);
	border-bottom: 3px solid pink;
	border-radius: .25rem;
	background-color: rgba(255, 255, 255, 0.5);
	transition: border-color .15s ease-in-out, box-shadow .15s ease-in-out;
}

#searchmode:focus {
	border: 1px solid pink;
	border-bottom: 3px solid pink;
}

#searchbtn {
	display: inline-block;
	background: #ffffff;
	font-size: 15px;
	font-weight: 800;
	color: #27CDF2;
	text-transform: capitalize;
	margin: 10px 0;
	padding: 12px 25px;
	border-radius: 23px;
	letter-spacing: 0.25px;
	border: 2px solid #27CDF2;
	outline: none;
	transition: all .3s;
	padding: 12px 25px;
	min-width: 120px;
}

#searchbtn:hover, #searchbtn:active, #searchbtn:focus {
	background: #27CDF2;
	color: #ffffff;
}

#searchvar {
	outline: 0;
	margin: 15px;
	padding: 10px;
	box-sizing: border-box;
	font-size: 1rem;
	line-height: 1.5;
	color: #495057;
	border: 1px solid rgba(0, 0, 0, 0.07);
	border-bottom: 3px solid pink;
	border-radius: .25rem;
	background-color: rgba(255, 255, 255, 0.5);
	transition: border-color .15s ease-in-out, box-shadow .15s ease-in-out;
}

#searchvar:focus {
	border: 1px solid pink;
	border-bottom: 3px solid pink;
}

#pager {
	margin-left: 40%;
	margin-bottom: 20px;
} */