@charset "UTF-8";

.user_list h1{
	margin-bottom:3rem;
}

.noMargin h1 {
	margin-bottom: .5rem;
}

.list {
	margin: 5rem auto;
}

.list .st_list {
	max-width: 60%;
	min-width: 33rem;
	margin: auto;
	display: flex;
	flex-flow: column;
}

.list .user_list,
.list .sch_list {
	max-width: 60%;
	min-width: 40rem;
	margin: auto;
	display: flex;
	flex-flow: column;
}

.list table {
	background-color: rgba(255, 255, 255, 0.3);
	border-radius: 30px;
	text-align: center;
}

.list table a {
	color: #27CDF2;
	font-size: 1rem;
	font-weight: 800;
	transition: color .15s ease-in-out;
	font-size: 1rem;
}

.list table a:hover {
	color: pink;
}

.list table thead tr {
	padding: 1rem;
color: white;
}

.list table thead th {
	background-color: pink;
	border: none;
	padding: 0.75rem 1.5rem;
}

.list table thead th:first-child {
	border-radius: 40px 0 0 40px;
}

.list table thead th:last-child {
	border-radius: 0 40px 40px 0;
}

.list table tbody tr td {
	border-top: 1px dashed #dee2e6;
}

.list table tbody tr:first-child td {
	border-top: none;
}

.list .btn_area, .list .sch_area {
	display: flex;
	margin: 1rem;
	justify-content: flex-end;
}

.list .sch_list .btn_area {
	justify-content: space-between;
}

.list button {
	display: inline-block;
	background: #ffffff;
	font-size: 15px;
	font-weight: 800;
	color: #27CDF2;
	text-transform: capitalize;
	margin: 10px 0;
	padding: 12px 25px;
	border-radius: 23px;
	letter-spacing: 0.25px;
	border: 2px solid #27CDF2;
	outline: none;
	transition: all .3s;
	padding: 12px 25px;
	min-width: 120px;
}

.list button:hover, .list button:active, .list button:focus {
	background: #27CDF2;
	color: #ffffff;
}

.list .btn2 {
	color: #ffffff;
	border: 2px solid pink;
	background: pink;
}

.list .btn2:hover, .list .btn2:active, .list .btn2:focus {
	color: pink;
	border: 2px solid pink;
	background: #ffffff;
}

.list .sch_area {
	padding: 0 15px;
}

.list .sch_area input {
	outline: 0;
	margin: 15px;
	padding: 10px;
	box-sizing: border-box;
	font-size: 1rem;
	line-height: 1.5;
	color: #495057;
	border: 1px solid rgba(0, 0, 0, 0.07);
	border-bottom: 3px solid pink;
	border-radius: .25rem;
	background-color: rgba(255, 255, 255, 0.5);
	transition: border-color .15s ease-in-out, box-shadow .15s ease-in-out;
}

.list .sch_area input:focus, .list .sch_area select:focus {
	border: 1px solid pink;
	border-bottom: 3px solid pink;
}